IO/Terminal/cmake_install.cmake
IO/Terminal/CMakeCache.txt
IO/Terminal/Makefile
IO/Terminal/CMakeFiles/
IO/Terminal/main
IO/Terminal/Terminal
IO/Terminal/TerminalInfo.hpp
.vscode/settings.json
IO/Terminal/src/TerminalInfo copy.hpp
IO/Terminal/comments.txt
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-80f1421ab5c08abede6d.json
build/.cmake/api/v1/reply/codemodel-v2-1cf48a77ce48d388f46c.json
build/.cmake/api/v1/reply/index-2022-05-05T21-15-07-0078.json
build/.cmake/api/v1/reply/target-Terminal-Debug-f74328a6199b3e9438d8.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/a.out
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Terminal.dir/build.make
build/CMakeFiles/Terminal.dir/cmake_clean.cmake
build/CMakeFiles/Terminal.dir/depend.make
build/CMakeFiles/Terminal.dir/DependInfo.cmake
build/CMakeFiles/Terminal.dir/flags.make
build/CMakeFiles/Terminal.dir/link.txt
build/CMakeFiles/Terminal.dir/progress.make
.vscode/launch.json
.vscode/tasks.json
build/.cmake/api/v1/reply/index-2022-05-08T01-18-22-0305.json
build/.cmake/api/v1/reply/codemodel-v2-4dc74a5be61b60fbf120.json
build/.cmake/api/v1/reply/index-2022-05-10T01-45-52-0833.json
build/.cmake/api/v1/reply/target-Terminal-Debug-5645d5ede8c7a3cadba6.json
build/.cmake/api/v1/reply/codemodel-v2-f8111558e1df56acc310.json
build/.cmake/api/v1/reply/index-2022-05-10T02-15-49-0838.json
build/.cmake/api/v1/reply/target-Terminal-Debug-6022dbf25f31bb81c77b.json
build/.cmake/api/v1/reply/codemodel-v2-8aa0d3fb84a9d9f8d153.json
build/.cmake/api/v1/reply/index-2022-05-11T02-21-20-0136.json
build/.cmake/api/v1/reply/target-Terminal-Debug-fac3c26610ee598ed0da.json
build/.cmake/api/v1/reply/codemodel-v2-0796eeb9fff83693d8be.json
build/.cmake/api/v1/reply/codemodel-v2-ebecfe067a738d79eac2.json
build/.cmake/api/v1/reply/index-2022-05-11T02-26-04-0929.json
build/.cmake/api/v1/reply/index-2022-05-13T00-31-34-0881.json
build/.cmake/api/v1/reply/target-Terminal-Debug-b311cd851aefcc43301b.json
build/.cmake/api/v1/reply/target-Terminal-Debug-d1d3877a759a1950277a.json
build/.cmake/api/v1/reply/target-WTerminal-Debug-470f901a940f9b5a653e.json
build/CMakeFiles/WTerminal.dir/build.make
build/CMakeFiles/WTerminal.dir/cmake_clean.cmake
build/CMakeFiles/WTerminal.dir/depend.make
build/CMakeFiles/WTerminal.dir/DependInfo.cmake
build/CMakeFiles/WTerminal.dir/flags.make
build/CMakeFiles/WTerminal.dir/link.txt
build/CMakeFiles/WTerminal.dir/progress.make
build/.cmake/api/v1/reply/codemodel-v2-ebecfe067a738d79eac2.json
build/.cmake/api/v1/reply/index-2022-05-11T02-26-04-0929.json
build/.cmake/api/v1/reply/target-Terminal-Debug-b311cd851aefcc43301b.json
build/.cmake/api/v1/reply/codemodel-v2-ebecfe067a738d79eac2.json
build/.cmake/api/v1/reply/index-2022-05-11T02-26-04-0929.json
build/.cmake/api/v1/reply/target-Terminal-Debug-b311cd851aefcc43301b.json
build/.cmake/api/v1/reply/codemodel-v2-ebecfe067a738d79eac2.json
build/.cmake/api/v1/reply/index-2022-05-11T02-26-04-0929.json
build/.cmake/api/v1/reply/target-Terminal-Debug-b311cd851aefcc43301b.json
build/.cmake/api/v1/reply/codemodel-v2-ebecfe067a738d79eac2.json
build/.cmake/api/v1/reply/index-2022-05-11T02-26-04-0929.json
build/.cmake/api/v1/reply/target-Terminal-Debug-b311cd851aefcc43301b.json
IO/Terminal/WTerminal
build/.cmake/api/v1/reply/target-Terminal-Debug-b311cd851aefcc43301b.json
build/.cmake/api/v1/reply/cache-v2-32b0311a08fa0dbd58ab.json
build/.cmake/api/v1/reply/codemodel-v2-f413a0d28a303698e688.json
build/.cmake/api/v1/reply/index-2022-05-14T20-18-35-0371.json
build/.cmake/api/v1/reply/target-SimpleANSITerminal-Debug-2e9c78e5b996bc8a2b93.json
build/.cmake/api/v1/reply/target-SimpleWANSITerminal-Debug-f52bae2c80daa290bcb3.json
build/.cmake/api/v1/reply/target-TerminalTest-Debug-ef5fe54bd995efa895bc.json
build/.cmake/api/v1/reply/target-WTerminalTest-Debug-ff1d7098e413e014ee46.json
build/CMakeFiles/SimpleANSITerminal.dir/build.make
build/CMakeFiles/SimpleANSITerminal.dir/cmake_clean_target.cmake
build/CMakeFiles/SimpleANSITerminal.dir/cmake_clean.cmake
build/CMakeFiles/SimpleANSITerminal.dir/depend.make
build/CMakeFiles/SimpleANSITerminal.dir/DependInfo.cmake
build/CMakeFiles/SimpleANSITerminal.dir/flags.make
build/CMakeFiles/SimpleANSITerminal.dir/link.txt
build/CMakeFiles/SimpleANSITerminal.dir/progress.make
build/CMakeFiles/SimpleWANSITerminal.dir/build.make
build/CMakeFiles/SimpleWANSITerminal.dir/cmake_clean_target.cmake
build/CMakeFiles/SimpleWANSITerminal.dir/cmake_clean.cmake
build/CMakeFiles/SimpleWANSITerminal.dir/depend.make
build/CMakeFiles/SimpleWANSITerminal.dir/DependInfo.cmake
build/CMakeFiles/SimpleWANSITerminal.dir/flags.make
build/CMakeFiles/SimpleWANSITerminal.dir/link.txt
build/CMakeFiles/SimpleWANSITerminal.dir/progress.make
build/CMakeFiles/TerminalTest.dir/build.make
build/CMakeFiles/TerminalTest.dir/cmake_clean.cmake
build/CMakeFiles/TerminalTest.dir/depend.make
build/CMakeFiles/TerminalTest.dir/DependInfo.cmake
build/CMakeFiles/TerminalTest.dir/flags.make
build/CMakeFiles/TerminalTest.dir/link.txt
build/CMakeFiles/TerminalTest.dir/progress.make
build/CMakeFiles/WTerminalTest.dir/build.make
build/CMakeFiles/WTerminalTest.dir/cmake_clean.cmake
build/CMakeFiles/WTerminalTest.dir/depend.make
build/CMakeFiles/WTerminalTest.dir/DependInfo.cmake
build/CMakeFiles/WTerminalTest.dir/flags.make
build/CMakeFiles/WTerminalTest.dir/link.txt
build/CMakeFiles/WTerminalTest.dir/progress.make
IO/Terminal/libSimpleANSITerminal.a
IO/Terminal/libSimpleWANSITerminal.a
IO/Terminal/TerminalTest
IO/Terminal/WTerminalTest
build/.cmake/api/v1/reply/cache-v2-694c19f4eff21d38f24d.json
build/.cmake/api/v1/reply/codemodel-v2-ac46f4a424157b73f07b.json
build/.cmake/api/v1/reply/index-2022-05-14T23-06-19-0668.json
build/.cmake/api/v1/reply/index-2022-05-14T23-07-22-0852.json
IO/Logging/CMakeFiles/cmake.check_cache
IO/Logging/CMakeFiles/CMakeDirectoryInformation.cmake
IO/Logging/CMakeFiles/CMakeOutput.log
IO/Logging/CMakeFiles/Makefile.cmake
IO/Logging/CMakeFiles/Makefile2
IO/Logging/CMakeFiles/progress.marks
IO/Logging/CMakeFiles/TargetDirectories.txt
IO/Logging/CMakeFiles/3.16.3/CMakeCCompiler.cmake
IO/Logging/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
IO/Logging/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
IO/Logging/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
IO/Logging/CMakeFiles/3.16.3/CMakeSystem.cmake
IO/Logging/CMakeFiles/3.16.3/CompilerIdC/a.out
IO/Logging/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
IO/Logging/CMakeFiles/3.16.3/CompilerIdCXX/a.out
IO/Logging/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
IO/Logging/CMakeFiles/LogTest.dir/build.make
IO/Logging/CMakeFiles/LogTest.dir/cmake_clean.cmake
IO/Logging/CMakeFiles/LogTest.dir/depend.make
IO/Logging/CMakeFiles/LogTest.dir/DependInfo.cmake
IO/Logging/CMakeFiles/LogTest.dir/flags.make
IO/Logging/CMakeFiles/LogTest.dir/link.txt
IO/Logging/CMakeFiles/LogTest.dir/progress.make
IO/Logging/CMakeFiles/Progress/5
IO/Logging/CMakeFiles/Progress/count.txt
IO/Logging/CMakeFiles/SimpleLogger.dir/build.make
IO/Logging/CMakeFiles/SimpleLogger.dir/cmake_clean_target.cmake
IO/Logging/CMakeFiles/SimpleLogger.dir/cmake_clean.cmake
IO/Logging/CMakeFiles/SimpleLogger.dir/depend.make
IO/Logging/CMakeFiles/SimpleLogger.dir/DependInfo.cmake
IO/Logging/CMakeFiles/SimpleLogger.dir/flags.make
IO/Logging/CMakeFiles/SimpleLogger.dir/link.txt
IO/Logging/CMakeFiles/SimpleLogger.dir/progress.make
IO/Logging/CMakeFiles/SimpleWLogger.dir/build.make
IO/Logging/CMakeFiles/SimpleWLogger.dir/cmake_clean_target.cmake
IO/Logging/CMakeFiles/SimpleWLogger.dir/cmake_clean.cmake
IO/Logging/CMakeFiles/SimpleWLogger.dir/CXX.includecache
IO/Logging/CMakeFiles/SimpleWLogger.dir/depend.internal
IO/Logging/CMakeFiles/SimpleWLogger.dir/depend.make
IO/Logging/CMakeFiles/SimpleWLogger.dir/DependInfo.cmake
IO/Logging/CMakeFiles/SimpleWLogger.dir/flags.make
IO/Logging/CMakeFiles/SimpleWLogger.dir/link.txt
IO/Logging/CMakeFiles/SimpleWLogger.dir/progress.make
IO/Logging/CMakeFiles/WLogTest.dir/build.make
IO/Logging/CMakeFiles/WLogTest.dir/cmake_clean.cmake
IO/Logging/CMakeFiles/WLogTest.dir/depend.make
IO/Logging/CMakeFiles/WLogTest.dir/DependInfo.cmake
IO/Logging/CMakeFiles/WLogTest.dir/flags.make
IO/Logging/CMakeFiles/WLogTest.dir/link.txt
IO/Logging/CMakeFiles/WLogTest.dir/progress.make
IO/Logging/CMakeFiles/LogTest.dir/CXX.includecache
IO/Logging/CMakeFiles/LogTest.dir/depend.internal
IO/Logging/CMakeFiles/LogTest.dir/src/main.cpp.o
IO/Logging/CMakeFiles/SimpleLogger.dir/CXX.includecache
IO/Logging/CMakeFiles/SimpleLogger.dir/depend.internal
IO/Logging/CMakeFiles/SimpleLogger.dir/src/Logger.cpp.o
IO/Logging/CMakeFiles/SimpleWLogger.dir/src/WLogger.cpp.o
IO/Logging/CMakeFiles/WLogTest.dir/CXX.includecache
IO/Logging/CMakeFiles/WLogTest.dir/depend.internal
IO/Logging/CMakeFiles/WLogTest.dir/src/wmain.cpp.o
build/.cmake/api/v1/reply/index-2022-05-15T04-11-12-0168.json
IO/Logging/cmake_install.cmake
IO/Logging/libSimpleLogger.a
IO/Logging/libSimpleWLogger.a
IO/Logging/LogTest
IO/Logging/WLogTest
IO/Logging/CMakeCache.txt
IO/Logging/CMakeFiles/Progress/7
IO/Logging/CMakeFiles/SimpleLogger.dir/src/ALogger.cpp.o
IO/Logging/CMakeFiles/SimpleWLogger.dir/src/ALogger.cpp.o
build/.cmake/api/v1/reply/index-2022-05-20T02-18-29-0848.json
IO/Logging/Makefile
IO/Logging/log/log.log
