IO/Terminal/cmake_install.cmake
IO/Terminal/CMakeCache.txt
IO/Terminal/Makefile
IO/Terminal/CMakeFiles/
IO/Terminal/main
IO/Terminal/Terminal
IO/Terminal/TerminalInfo.hpp
.vscode/settings.json
IO/Terminal/src/TerminalInfo copy.hpp
IO/Terminal/comments.txt
